<?xml version="1.0" encoding="UTF-8"?>
<web-app
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
    <description></description>
    <display-name>ProductListServletController</display-name>
    <servlet-name>ProductListServletController</servlet-name>
    <servlet-class>Controller.ProductListServletController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductListServletController</servlet-name>
    <url-pattern>/ProductListServletController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeServletController</display-name>
    <servlet-name>HomeServletController</servlet-name>
    <servlet-class>Controller.HomeServletController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeServletController</servlet-name>
    <url-pattern>/HomeServletController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddtoCartServletController</display-name>
    <servlet-name>AddtoCartServletController</servlet-name>
    <servlet-class>Controller.AddtoCartServletController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddtoCartServletController</servlet-name>
    <url-pattern>/AddtoCartServletController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignupController</display-name>
    <servlet-name>SignupController</servlet-name>
    <servlet-class>Controller.SignupController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupController</servlet-name>
    <url-pattern>/SignupController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServletController</display-name>
    <servlet-name>LogoutServletController</servlet-name>
    <servlet-class>Controller.LogoutServletController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServletController</servlet-name>
    <url-pattern>/LogoutServletController</url-pattern>
  </servlet-mapping>
  
</web-app>